body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
}

.sidebar {
  background-color: #005b94;
}

.nav {
  background-color: #642cde;
}

.article {
  background-color: #7e1dc3;
}

.footer {
  background-color: #393f4d;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

/*sultion*/
.container {
  display: grid;
  gap: 15px;
  height: 100%;
  grid-template-rows: repeat(7, 1fr); /* 7 equal height rows */
  grid-template-columns: repeat(5, 1fr); /* 5 equal width columns */
  width: 100%;
}
.header {
  grid-area: 1/1/2/5;
}
.sidebar {
  grid-area: 2/1/7/2;
}
.nav {
  grid-area: 2/2/3/5;
}
.article {
  grid-area: 3/2/7/5;
}
.footer {
  grid-area: 7/1/8/5;
}
